<div layout="column" ng-cloak class="md-inline-form" md-theme="docs-dark">

    <md-content layout="column" layout-padding>
        <md-input-container>
            <label>Replacement Policy</label>
            <md-select ng-model="$ctrl.policy" placeholder="Select a Policy">
                <md-option ng-repeat="policy in policies" value="{{policy}}">
                    {{policy}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Block Size</label>
            <md-select ng-model="$ctrl.blockSize" placeholder="Select a Size">
                <md-option ng-repeat="size in blockSizes" value="{{size}}">
                    {{size}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-content>

    <md-content class="md-padding">
        <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
            <md-tab ng-disabled="false">
                <md-tab-label class="add-button">
                    <md-button class="md-icon-button" ng-click="$ctrl.addCache()"><i class="material-icons">add</i></md-button>
                </md-tab-label>
            </md-tab>
            <md-tab ng-repeat="tab in $ctrl.caches" label="{{tab.title}}">
                <div class="tab{{$index%4}}" style="padding: 25px; text-align: center;">
                    <md-content layout="column" layout-padding>
                        <md-input-container>
                            <label>Cache Size</label>
                            <md-select ng-model="tab.cacheSize" placeholder="Select a Size">
                                <md-option ng-repeat="size in cacheSizes" value="{{size}}">
                                    {{size}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <label>Associativity</label>
                            <md-select ng-model="tab.Associativity" placeholder="Select an Associativity">
                                <md-option ng-repeat="associativity in associativities" value="{{associativity}}">
                                    {{associativity}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </md-content>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>

    <md-content layout="row" layout-align="space-around center">
        <md-subheader class="md-no-sticky">{{$ctrl.fileName}}</md-subheader>
        <md-button class="md-primary md-raised" ng-disabled="$ctrl.fileName.length != 0" type="submit" style="margin-right: 0;">Upload</md-button>
    </md-content>
    <md-list>
        <md-subheader class="md-no-sticky">Memory Access Queue</md-subheader>
        <md-list-item ng-repeat="item in $ctrl.memQueue | limitTo:10">
            <p>{{item.address}}</p>
            <md-menu class="md-secondary">
                <md-button class="md-icon-button">
                    <i class="material-icons">message</i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        {{item.offset}}
                    </md-menu-item>
                    <md-menu-item>
                        {{item.index}}
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        {{item.tag}}
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-list-item>
    </md-list>
    <div layout="row" layout-align="space-around center">
        <md-button class="md-icon-button"><i class="material-icons">skip_previous</i></md-button>
        <md-button class="md-icon-button"><i class="material-icons">pause</i></md-button>
        <md-button class="md-icon-button"><i class="material-icons">play_arrow</i></md-button>
        <md-button class="md-icon-button"><i class="material-icons">skip_next</i></md-button>
        <md-button class="md-icon-button"><i class="material-icons">replay</i></md-button>

    </div>
    <div layout="row" layout-align="center">
        <div layout layout-align="center center">
            <span class="md-body-1">Speed</span>
        </div>
        <md-slider flex class="md-primary" md-discrete ng-model="$ctrl.speedRating" step="1" min="1" max="5" aria-label="rating">
        </md-slider>
    </div>



    <!-- <md-content layout-padding>
    <div>
      <form name="userForm">

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Company (Disabled)</label>
            <input ng-model="$ctrl.company" disabled>
          </md-input-container>

          <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="$ctrl.submissionDate"></md-datepicker>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="$ctrl.firstName">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
            <input ng-model="theMax">
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="$ctrl.address">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
          <input ng-model="$ctrl.address2" placeholder="Address 2">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="$ctrl.city">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="$ctrl.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Postal Code</label>
            <input name="postalCode" ng-model="$ctrl.postalCode" placeholder="12345"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a postal code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
              </div>
            </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Biography</label>
          <textarea ng-model="$ctrl.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>

      </form>
    </div>
  </md-content> -->

</div>
