<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CS 2200 Cache Simulator</title>

    <!-- Use minified files in production -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>

    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="node_modules/angular-resizable/angular-resizable.min.js"></script>

    <link href="node_modules/angular-resizable/angular-resizable.min.css" rel="stylesheet">
    <link href="node_modules/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="node_modules/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="main.js" charset="utf-8"></script>
    <script src="app.js"></script>
    <script src="src/browser/cacheDisplay.js"></script>
    <script src="src/browser/cacheDetail.js"></script>
    <script src="src/browser/cacheInput.js"></script>
    <script src="src/browser/services/simDriver.js"></script>
    <script src="src/browser/services/fileParser.js"></script>
</head>

<body ng-app="Simulator">
    <div ng-controller="IndexController" layout="column">
        <div layout="row">
            <div layout="space-between" flex="80">
                <md-button ng-repeat="nav in navs"" ng-click="changeView($index)">{{nav.buttonTitle}}</md-button>
            </div>
            <div layout="space-between">
                <md-button ng-hide="hideParamLabels" ng-disabled="true">Policy: {{initialCacheInfo.policy}}</md-button>
                <md-button ng-hide="hideParamLabels" ng-disabled="true">Block Size: {{initialCacheInfo.blockSize}}</md-button>
            </div>
        </div>
        <cache-detail ng-show="!navs[0].active"></cache-detail>
        <div id=display-container layout="row">
            <!-- <section id="main-display"> -->
                <cache-display ng-show="navs[0].active" flex></cache-display>
            <!-- </section> -->
            <div id="sidebar" resizable r-directions="['left']" r-flex="true" style="max-width: 60%">
                <cache-input ng-show="navs[0].active"></cache-input>
            </div>
        </div>
    </div>
</body>
</html>