<head>
    <link href="src/browser/addressBreakdown.css" rel="stylesheet">
</head>
<body>
	<table id="third" flex>
		<tr>
			<td colspan="100%">
				<span>
				Tag
				</span>
			</td>
		</tr>
		<tr>
			<td ng-repeat="x in [].constructor(14) track by $index">
			{{$ctrl.tag[$index]}}
			</td>
		</tr>
	</table>
	<table id="third" flex>
		<tr>
			<td colspan="100%">
				<span>
				Index
				</span>
			</td>
		</tr>
		<tr>
			<td ng-repeat="x in [].constructor(10) track by $index">
			{{$ctrl.index[$index]}}
			</td>
		</tr>
	</table>
	<table id="third" flex>
		<tr>
			<td colspan="100%">
				<span>
				Offset
				</span>
			</td>
		</tr>
		<tr>
			<td ng-repeat="x in [].constructor(8) track by $index">
			{{$ctrl.offset[$index]}}
			</td>
		</tr>
	</table>
</body>