.selected {
    background-color:#d9d9d9;
    font-weight:bold;
}

md-card-content {
  display: inline-block;
}

table {
	float : left;
}

#third {
	width: 33%;
}

td {
	background-color:#8a8a5c;
    font-weight:bold;
    font-color:black;
}