<head>
    <link rel="stylesheet" href="src/browser/cacheDisplay.css">
</head>
<body>
    <!-- <div ng-cloak xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> -->
    <div ng-cloak>
        <!--Cache Display-->
        <md-content layout="column" layout-padding md-theme="docs-dark" flex>
            <div id="canvas1" ng-app="Simulator" ng-controller="IndexController" layout="row" flex>
                <!--L1-->
                <md-card id="L1" ng-show="$ctrl.cacheInfo.caches[0]" ng-click="$ctrl.clickCache(1)" flex>
                    <md-card-title layout="column">
                        <md-card-title-text>
                            <div layout="row" layout-align="space-between">
                                <div>
                                    <span class="md-headline">{{$ctrl.cacheInfo.caches[0].title}}</span>
                                    <span class="md-subhead"><br />
                                        Size: {{$ctrl.cacheInfo.caches[0].cacheSize}}<br />
                                        Associativity: {{$ctrl.cacheInfo.caches[0].associativity}}
                                    </span>
                                </div>
                            </div>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                        

                    </md-card-title>
                    <md-card-content>
                        
                            <table id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Tag = {{$ctrl.tagSize(0)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.tagSize(0)) track by $index">
                                    {{$ctrl.tag[$index]}}
                                    </td>
                                </tr>
                            </table>
                            <table ng-hide="$ctrl.fullyAssociative[0]" id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Index = {{$ctrl.indexSize(0)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.indexSize(0)) track by $index">
                                    {{$ctrl.index[$index]}}
                                    </td>
                                </tr>
                            </table>
                            <table id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Offset = {{$ctrl.offsetSize(0)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.offsetSize(0)) track by $index">
                                    {{$ctrl.offset[$index]}}
                                    </td>
                                </tr>
                            </table>
                        
                    </md-card-content>
                    <md-button ng-click="$ctrl.removeCache(0, $event)" ng-disabled="$ctrl.cacheInfo.disableDeleteCache"><i class="material-icons">delete</i></md-button>
                </md-card>
                <!--L2-->
                <md-card id="L2" ng-show="$ctrl.cacheInfo.caches[1]" ng-click="$ctrl.clickCache(2)" flex>
                    <md-card-title layout="column">
                        <md-card-title-text>
                            <div layout="row" layout-align="space-between">
                                <div>
                                    <span class="md-headline">{{$ctrl.cacheInfo.caches[1].title}}</span>
                                    <span class="md-subhead"><br />
                                        Size: {{$ctrl.cacheInfo.caches[1].cacheSize}}<br />
                                        Associativity: {{$ctrl.cacheInfo.caches[1].associativity}}
                                    </span>
                                </div>
                            </div>
                        </md-card-title-text>

                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                        </md-card-title>
                    <md-card-content>
                        <body>
                            <table id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Tag = {{$ctrl.tagSize(1)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.tagSize(1)) track by $index">
                                    {{$ctrl.tag[$index]}}
                                    </td>
                                </tr>
                            </table>
                            <table ng-hide="$ctrl.fullyAssociative[1]" id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Index = {{$ctrl.indexSize(1)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.indexSize(1)) track by $index">
                                    {{$ctrl.index[$index]}}
                                    </td>
                                </tr>
                            </table>
                            <table id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Offset = {{$ctrl.offsetSize(1)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.offsetSize(1)) track by $index">
                                    {{$ctrl.offset[$index]}}
                                    </td>
                                </tr>
                            </table>
                        </body>
                    </md-card-content>
                    <md-button ng-click="$ctrl.removeCache(1, $event)" ng-disabled="$ctrl.cacheInfo.disableDeleteCache"><i class="material-icons">delete</i></md-button>
                </md-card>
            </div>
            <div id="canvas2" ng-controller="IndexController" layout="column">
                <!--L3-->
                <md-card id="L3" ng-show="$ctrl.cacheInfo.caches[2]" ng-click="$ctrl.clickCache(3)" flex>
                    <md-card-title layout="column">
                        <md-card-title-text>
                            <div layout="row" layout-align="space-between">
                                <div>
                                    <span class="md-headline">{{$ctrl.cacheInfo.caches[2].title}}</span>
                                    <span class="md-subhead"><br />
                                        Size: {{$ctrl.cacheInfo.caches[2].cacheSize}}<br />
                                        Associativity: {{$ctrl.cacheInfo.caches[2].associativity}}
                                    </span>
                                </div>
                            </div>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                        
                    </md-card-title>
                    <md-card-content>
                        <body>
                            <table id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Tag = {{$ctrl.tagSize(2)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.tagSize(2)) track by $index">
                                    {{$ctrl.tag[$index]}}
                                    </td>
                                </tr>
                            </table>
                            <table ng-hide="$ctrl.fullyAssociative[2]" id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Index = {{$ctrl.indexSize(2)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.indexSize(2)) track by $index">
                                    {{$ctrl.index[$index]}}
                                    </td>
                                </tr>
                            </table>
                            <table id="third" flex>
                                <tr>
                                    <td colspan="100%">
                                        <span>
                                        Offset = {{$ctrl.offsetSize(2)}} bits
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="x in [].constructor($ctrl.offsetSize(2)) track by $index">
                                    {{$ctrl.offset[$index]}}
                                    </td>
                                </tr>
                            </table>
                        </body>
                    </md-card-content>
                    <md-button ng-click="$ctrl.removeCache(2, $event)" ng-disabled="$ctrl.cacheInfo.disableDeleteCache"><i class="material-icons">delete</i></md-button>
                </md-card>
            </div>
        </md-content>
    </div>
</body>
