<!-- Below is from a demo, need to change content -->
<head>
    <link href="src/browser/cacheDetail.css" rel="stylesheet">
</head>
<md-toolbar id="activeCacheBanner" class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>{{$ctrl.activeCache}}</span>
  </div>
</md-toolbar>
<md-table-container>
  <table id="fillWidth">
    <tr>
      <td ng-repeat="x in [].constructor($ctrl.getAssociativity()) track by $index">
        <table class="tableCollapse" md-table md-row-select multiple ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order">
            <tr md-row>
              <th class="index" md-column>Index</th>
              <th class="center" md-column>Tag</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="x in [].constructor($ctrl.getIndicesSize()) track by $index">
              <td class="index" md-cell> {{$index}} </td>
              <td md-cell  ng-click="$ctrl.openModal($event,'modal-' + $parent.$index + $index, 'modal-' + $parent.$index + $index + -tag)">
                <span ng-attr-id="{{ 'modal-' + $parent.$index + $index + 'tag'}}"> 0xDEADBEEF </span>
                <!-- The Modal -->
                  <div id="{{ 'modal-' + $parent.$index + $index}}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="close" ng-click="$ctrl.closeModalSpan($event)">&times;</span>
                        <h2>{{$parent.$index}}{{$index}}</h2>
                      </div>
                      <div class="modal-body">
                        <p>{{'modal-' + $parent.$index + $index + ': tag = 0xDEADBEEF'}}</p>
                        <table id="fillWidthAndHeight">
                          <thead md-head md-order="query.order">
                            <tr md-row>
                              <th class="index" md-column>Address</th>
                              <th class="center" md-column>Index</th>
                              <th class="center" md-column>Offset</th>
                            </tr>
                            <tbody>
                              <tr md-row ng-repeat="x in [].constructor($ctrl.getBlockSize()) track by $index"> 
                                <td> Address </td>
                                <td> Index </td>
                                <td> {{$index}} </td>
                              </tr>
                            </tbody>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</md-table-container>
