<head>
    <link rel="stylesheet" href="src/cacheDisplay.css">
</head>
<body>
    <!-- <div ng-cloak xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> -->
    <div ng-cloak>
        <!--Cache Display-->
        <md-content layout="column" layout-padding md-theme="docs-dark">
            <div ng-app="Simulator" ng-controller="IndexController" layout="row">
                <!--L1-->
                <md-card ng-show="$ctrl.cacheInfo.caches[0].active" ng-click="$ctrl.clickCache(1)" flex>
                    <md-card-title layout="column">
                        <md-card-title-text>
                            <div layout="row" layout-align="space-between">
                                <div>
                                    <span class="md-headline">{{$ctrl.cacheInfo.caches[0].title}}</span>
                                    <span class="md-subhead"><br />
                                        Size: {{$ctrl.cacheInfo.caches[0].size}}<br />
                                        Associativity: {{$ctrl.cacheInfo.caches[0].associativity}}
                                    </span>
                                </div>
                            </div>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                        <md-button ng-click="$ctrl.removeCache(0, $event)" ng-disabled="$ctrl.disableDeleteCache"><i class="material-icons">delete</i></md-button>

                    </md-card-title>
                </md-card>
                <!--L2-->
                <md-card ng-show="$ctrl.cacheInfo.caches[1].active" ng-click="$ctrl.clickCache(2)" flex="60">
                    <md-card-title layout="column">
                        <md-card-title-text>
                            <div layout="row" layout-align="space-between">
                                <div>
                                    <span class="md-headline">{{$ctrl.cacheInfo.caches[1].title}}</span>
                                    <span class="md-subhead"><br />
                                        Size: {{$ctrl.cacheInfo.caches[1].size}}<br />
                                        Associativity: {{$ctrl.cacheInfo.caches[1].associativity}}
                                    </span>
                                </div>
                            </div>
                        </md-card-title-text>

                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                        <md-button ng-click="$ctrl.removeCache(1, $event)"><i class="material-icons">delete</i></md-button>
                    </md-card-title>
                </md-card>
            </div>
            <div ng-controller="IndexController" layout="column">
                <!--L3-->
                <md-card ng-show="$ctrl.cacheInfo.caches[2].active" ng-click="$ctrl.clickCache(3)">
                    <md-card-title layout="column">
                        <md-card-title-text>
                            <div layout="row" layout-align="space-between">
                                <div>
                                    <span class="md-headline">{{$ctrl.cacheInfo.caches[2].title}}</span>
                                    <span class="md-subhead"><br />
                                        Size: {{$ctrl.cacheInfo.caches[2].size}}<br />
                                        Associativity: {{$ctrl.cacheInfo.caches[2].associativity}}
                                    </span>
                                </div>
                            </div>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                        <md-button ng-click="$ctrl.removeCache(2, $event)"><i class="material-icons">delete</i></md-button>
                    </md-card-title>
                </md-card>
            </div>
        </md-content>
    </div>
</body>