<!-- Below is from a demo, need to change content -->
<head>
    <link href="src/browser/cacheDetail.css" rel="stylesheet">
</head>
<md-toolbar id="activeCacheBanner" class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>{{$ctrl.activeCache}}</span>
  </div>
</md-toolbar>
<md-table-container>
  <table id="fillWidth">
    <tr>
      <td ng-repeat="x in range($ctrl.getAssociativity()) track by $index">
        <table class="tableCollapse" md-table md-row-select multiple ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order">
            <tr md-row>
              <th class="index" md-column>Index</th>
              <th class="center" md-column>Tag</th>
              <th class="validDirty" md-column>Valid</th>
              <th class="validDirty" md-column>Dirty</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="x in [].constructor($ctrl.getIndicesSize()) track by $index">
              <td class="index" md-cell> {{$index}} </td>
              <td md-cell  ng-click="$ctrl.openModal($event,'modal-' + $parent.$index + $index, 'modal-' + $parent.$index + $index + -tag)">
                <span ng-attr-id="{{ 'modal-' + $parent.$index + $index + 'tag'}}"> {{$ctrl.modals[$ctrl.activeCache]['modal-' + $parent.$index + $index]['tag']}}</span>
                <!-- The Modal -->
                  <div id="{{ 'modal-' + $parent.$index + $index}}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="close" ng-click="$ctrl.closeModalSpan($event)">&times;</span>
                        <h2>Block associated with given tag: {{$ctrl.modals[$ctrl.activeCache]['modal-' + $parent.$index + $index]['tag']}}</h2>
                      </div>
                      <div class="modal-body">
                        <p>
                        Cache: {{$ctrl.activeCache}} <br>
                        Way: {{$parent.$index}} <br>
                        Index: {{$index}} 
                        </p>
                        <table id="fillWidthAndHeight">
                          <thead md-head md-order="query.order">
                            <tr md-row>
                              <th class="address" md-column>Address</th>
                              <th class="center" md-column>Offset</th>
                            </tr>
                            <tbody>
                              <tr md-row ng-repeat="x in [].constructor($ctrl.getBlockSize()) track by $index"> 
                                <td> 0x{{$ctrl.modals[$ctrl.activeCache]['modal-' + $parent.$parent.$index + $parent.$index]['block'][$index].toString(16)}} </td>
                                <td> {{$index.toString(2)}} </td>
                              </tr>
                            </tbody>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>
              </td>
              <td class = 'validDirty'>{{$ctrl.modals[$ctrl.activeCache]['modal-' + $parent.$index + $index]['valid']}}</td>
              <td class = 'validDirty'>{{$ctrl.modals[$ctrl.activeCache]['modal-' + $parent.$index + $index]['dirty']}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</md-table-container>
