<head>
    <link href="src/browser/cacheInput.css" rel="stylesheet">
</head>
<body>
    <div ng-cloak id="sidebar">
        <!--Cache Input-->
        <div layout="column" layout-padding md-theme="docs-light" class="md-inline-form">
            <md-input-container class="tooltip" ng-hide="$ctrl.hideSidebar">
                <label>Replacement Policy</label>
                <span class="tooltiptext"> A replacement policy (or eviction policy) decides how the cache deals with choosing a block to be replaced. </span>
                <md-select ng-model="$ctrl.cacheInfo.policy" placeholder="Select a Policy" ng-change="$ctrl.setPolicy()">
                    <md-option ng-repeat="policy in $ctrl.cacheInfo.policies" value="{{policy}}">
                        {{policy}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="tooltip" ng-hide="$ctrl.hideSidebar">
                <label ng-hide="$ctrl.hideSidebar">Block Size</label>
                <span class="tooltiptext"> The block size defines the size of the granular object in the cache.  The smalled object which is added and removed from the cache will have this size. </span>
                <md-select ng-model="$ctrl.cacheInfo.blockSize" ng-change="$ctrl.setBlockSize()" placeholder="Select a Block Size">
                    <md-option ng-repeat="size in $ctrl.cacheInfo.blockSizes" value="{{size}}">
                        {{size}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect ng-hide="$ctrl.hideSidebar">
                <md-tab ng-disabled="$ctrl.cacheInfo.caches.length === 3" ng-hide="$ctrl.hideSidebar">
                    <md-tab-label class="add-button">
                        <md-button class="md-icon-button" ng-click="$ctrl.addCache()" ng-hide="$ctrl.hideSidebar"><i class="material-icons">add</i></md-button>
                    </md-tab-label>
                </md-tab>
                <md-tab ng-repeat="cache in $ctrl.cacheInfo.caches" label="{{cache.title}}" ng-hide="$ctrl.hideSidebar">
                    <div id="cache-levels" class="cache{{$index%4}}">
                        <md-content layout="column">
                            <md-input-container>
                                <label>Cache Size</label>
                                <md-select ng-model="cache.cacheSize" placeholder="Select a Cache Size"
                                           ng-change="updateCache(cache.cacheSize, $index%4, 'size')" ng-disabled="!($ctrl.cacheInfo.policySet && $ctrl.cacheInfo.blockSizeSet)" ng-hide="$ctrl.hideSidebar">
                                    <md-option ng-repeat="size in $ctrl.cacheInfo.cacheSizes" value="{{size}}">
                                        {{size}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="tooltip">
                                <label>Associativity</label>
                                <span class="tooltiptext"> Defines how many different positions there can be for a block with a given tag. </span>
                                <md-select ng-model="cache.associativity" placeholder="Select an Associativity"
                                           ng-change="updateCache(cache.associativity, $index%4, 'associativity')" ng-disabled="!($ctrl.cacheInfo.policySet && $ctrl.cacheInfo.blockSizeSet)" ng-hide="$ctrl.hideSidebar">
                                    <md-option ng-repeat="associativity in $ctrl.cacheInfo.caches[$index%4].associativities" value="{{associativity}}">
                                        {{associativity}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-content>
                    </div>
                </md-tab>
            </md-tabs>

            <!-- Upload & Run Simulation Button -->
            <md-content layout="row" layout-align="space-around center">
                <md-subheader class="md-no-sticky">{{$ctrl.cacheInfo.fileName}}</md-subheader>
                <md-button id="upload-button" class="md-primary md-raised" ng-click="$ctrl.handleUpload()" type="submit">Upload</md-button>
            </md-content>
            <md-button id="run-sim-button" class="md-primary md-raised" ng-click="$ctrl.runSimulation()" type="submit" ng-hide="$ctrl.hideRunSimButton">Run Simulation</md-button>

            <!-- Control Flow Buttons -->
            <div id="control-flow-buttons" ng-hide="$ctrl.hideControlButtons">
                <md-content layout="row" layout-align="space-around center">
                    <md-button class="md-icon-button" ng-disabled="$ctrl.hideMAQ" ng-click= "$ctrl.stepBackward();"><i class="material-icons">skip_previous</i></md-button>
                    <md-button class="md-icon-button" ng-disabled="$ctrl.hideMAQ" ng-click= "$ctrl.pauseSimulation();"><i class="material-icons">pause</i></md-button>
                    <md-button class="md-icon-button" ng-click= "$ctrl.playSimulation(); $ctrl.hideSideBar();"><i class="material-icons">play_arrow</i></md-button>
                    <md-button class="md-icon-button" ng-disabled="$ctrl.hideMAQ" ng-click= "$ctrl.stepForward();"><i class="material-icons">skip_next</i></md-button>
                    <md-button class="md-icon-button" ng-disabled="$ctrl.hideMAQ" ng-click= "$ctrl.resetSimulation(); $ctrl.showSideBar();"><i class="material-icons">replay</i></md-button>
                </md-content>
                <md-content id="speed-controls" layout="row" layout-align="center">
                    <div layout layout-align="center center">
                        <span class="md-body-1">Speed</span>
                    </div>
                    <div id="speed-slider">
                        <md-slider class="md-primary" md-discrete ng-model="$ctrl.speedRating" step="1" min="1" max="5" aria-label="rating" ng-disabled="$ctrl.fileName.length == 0">
                    </div>
                    </md-slider>
                </md-content>
            </div>

            <!-- Memory Acess Queue -->
            <md-subheader class="md-no-sticky" ng-hide="$ctrl.hideMAQ">Memory Access Queue</md-subheader>
            <md-table-container id="maq" ng-hide="$ctrl.hideMAQ">
                <table md-table>
                    <thead md-head>
                      <tr md-row>
                        <th md-column md-numeric>Address</th>
                        <th md-column md-numeric>Action</th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row ng-repeat="item in $parent.memQueue" ng-class="{'selected':$index == $ctrl.currentMemQueueIndex}">
                          <td md-cell>{{item.address}}</td>
                        <td md-cell>{{item.action}}</td>
                      </tr>
                    </tbody>
                </table>
            </md-table-container>

            <!-- This is really only for debugging purposes -->
            <md-subheader>Current Instruction</md-subheader>
            <md-subheader>Address: {{$ctrl.currentMemQueue.address}}</md-subheader>
            <md-subheader>Action: {{$ctrl.currentMemQueue.action}}</md-subheader>
    </div>
</body>
