<div ng-cloak layout="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">

    <!--Cache Display-->
    <md-content layout="column" layout-padding md-theme="docs-dark" flex="75">

        <!--Less code, but puts all cache levels in one column-->

        <!--<div layout="column">-->
            <!--<md-card ng-repeat="cache in $ctrl.caches" ng-show="showCache[$index%4]" flex="40">-->
                <!--<md-card-title layout="column">-->
                    <!--<md-card-title-text>-->
                        <!--<div layout="row" layout-align="space-between">-->
                            <!--<div>-->
                                <!--<span class="md-headline">{{cache.title}}</span>-->
                                <!--<span class="md-subhead"><br />-->
                                        <!--Size: {{cache.size}}<br />-->
                                        <!--Associativity: {{cache.associativity}}-->
                                    <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</md-card-title-text>-->
                    <!--<md-card-title-media>-->
                        <!--<div class="md-media-lg card-media"></div>-->
                    <!--</md-card-title-media>-->
                <!--</md-card-title>-->
            <!--</md-card>-->
        <!--</div>-->

        <!--Mode code, but cache levels are different sizes-->
        <div layout="inline">
            <!--L1-->
            <md-card ng-show="showCache[0]" flex="40">
                <md-card-title layout="column">
                    <md-card-title-text>
                        <div layout="row" layout-align="space-between">
                            <div>
                                <span class="md-headline">{{$ctrl.caches[0].title}}</span>
                                <span class="md-subhead"><br />
                                    Size: {{$ctrl.caches[0].size}}<br />
                                    Associativity: {{$ctrl.caches[0].associativity}}
                                </span>
                            </div>
                        </div>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                    <md-button ng-click="$ctrl.removeCache(0)"><i class="material-icons">delete</i></md-button>
                </md-card-title>
            </md-card>

            <!--L2-->
            <md-card ng-show="showCache[1]" flex>
                <md-card-title layout="column">
                    <md-card-title-text>
                        <div layout="row" layout-align="space-between">
                            <div>
                                <span class="md-headline">{{$ctrl.caches[1].title}}</span>
                                <span class="md-subhead"><br />
                                    Size: {{$ctrl.caches[1].size}}<br />
                                    Associativity: {{$ctrl.caches[1].associativity}}
                                </span>
                            </div>
                        </div>
                    </md-card-title-text>

                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                    <md-button ng-click="$ctrl.removeCache(1)"><i class="material-icons">delete</i></md-button>
                </md-card-title>
            </md-card>
        </div>
        <div layout="column">
            <!--L3-->
            <md-card ng-show="showCache[2]">
                <md-card-title layout="column">
                    <md-card-title-text>
                        <div layout="row" layout-align="space-between">
                            <div>
                                <span class="md-headline">{{$ctrl.caches[2].title}}</span>
                                <span class="md-subhead"><br />
                                    Size: {{$ctrl.caches[2].size}}<br />
                                    Associativity: {{$ctrl.caches[2].associativity}}
                                </span>
                            </div>
                        </div>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                    <md-button ng-click="$ctrl.removeCache(2)"><i class="material-icons">delete</i></md-button>
                </md-card-title>
            </md-card>
        </div>
    </md-content>

    <!--Cache Input-->
    <md-content layout="column" md-theme="docs-dark" class="md-inline-form" flex>
        <md-content layout="column">
            <md-input-container>
                <label>Replacement Policy</label>
                <md-select ng-model="$ctrl.policy" placeholder="Select a Policy" ng-change="$ctrl.setPolicy()">
                    <md-option ng-repeat="policy in policies" value="{{policy}}">
                        {{policy}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Block Size</label>
                <md-select ng-model="$ctrl.blockSize" ng-change="$ctrl.setBlockSize()" placeholder="Select a Block Size">
                    <md-option ng-repeat="size in blockSizes" value="{{size}}">
                        {{size}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>

        <md-content>
            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                <md-tab ng-disabled="$ctrl.caches.length === 3">
                    <md-tab-label class="add-button">
                        <md-button class="md-icon-button" ng-click="$ctrl.addCache()"><i class="material-icons">add</i></md-button>
                    </md-tab-label>
                </md-tab>
                <md-tab ng-repeat="tab in $ctrl.caches" label="{{tab.title}}">
                    <div class="tab{{$index%4}}" style="padding: 25px; text-align: center;">
                        <md-content layout="column">
                            <md-input-container>
                                <label>Cache Size</label>
                                <md-select ng-model="tab.cacheSize" placeholder="Select a Cache Size"
                                           ng-change="updateCache(tab.cacheSize, $index%4, 'size')" ng-disabled="!($ctrl.policySet && $ctrl.blockSizeSet)">
                                    <md-option ng-repeat="size in cacheSizes" value="{{size}}">
                                        {{size}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container>
                                <label>Associativity</label>
                                <md-select ng-model="tab.Associativity" placeholder="Select an Associativity"
                                           ng-change="updateCache(tab.Associativity, $index%4, 'associativity')" ng-disabled="!($ctrl.policySet && $ctrl.blockSizeSet)">
                                    <md-option ng-repeat="associativity in $ctrl.caches[$index%4].associativities" value="{{associativity}}">
                                        {{associativity}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-content>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>

        <md-content layout="row" layout-align="space-around center">
            <md-subheader class="md-no-sticky">{{$ctrl.fileName}}</md-subheader>
            <md-button class="md-primary md-raised" ng-click="$ctrl.handleUpload()" ng-disabled="$ctrl.fileName.length != 0" type="submit" style="margin-right: 0;">Upload</md-button>
        </md-content>
            <md-list>
                <md-subheader class="md-no-sticky">Memory Access Queue</md-subheader>
                <md-list-item ng-repeat="item in $ctrl.memQueue | limitTo:10">
                    <p>{{item.address}}</p>
                    <md-menu class="md-secondary">
                        <md-button class="md-icon-button">
                            <i class="material-icons" style="color: rgb(33,150,243)">message</i>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                {{item.offset}}
                            </md-menu-item>
                            <md-menu-item>
                                {{item.index}}
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                {{item.tag}}
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        <md-content layout="row" layout-align="space-around center">
            <md-button class="md-icon-button"><i class="material-icons">skip_previous</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">pause</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">play_arrow</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">skip_next</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">replay</i></md-button>
        </md-content>
        <md-content layout="row" layout-align="center" style="padding-top: 25px; padding-right: 10px;">
            <div layout layout-align="center center">
                <span class="md-body-1">Speed</span>
            </div>
            <md-slider flex class="md-primary" md-discrete ng-model="$ctrl.speedRating" step="1" min="1" max="5" aria-label="rating">
            </md-slider>
        </md-content>
    </div>
</div>
