<div ng-cloak layout="row">
    <md-content layout="column" layout-padding flex="65">
        <div title="header">
            <h1>Welcome to Indacache</h1>
            <h4>© 2017 Ctrl+Alt+Delicious</h4>
        </div>

        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">L1 Cache</span>
                    <span class="md-subhead">{{$ctrl.test}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>View Details</md-button>
            </md-card-actions>
        </md-card>
    </md-content>

    <div layout="column" class="md-inline-form" md-theme="docs-dark" flex>
        <md-content layout="column" layout-padding>
            <md-input-container>
                <label>Replacement Policy</label>
                <md-select ng-model="$ctrl.policy" placeholder="Select a Policy">
                    <md-option ng-repeat="policy in policies" value="{{policy}}">
                        {{policy}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Block Size</label>
                <md-select ng-model="$ctrl.blockSize" placeholder="Select a Size">
                    <md-option ng-repeat="size in blockSizes" value="{{size}}">
                        {{size}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>

        <md-content class="md-padding">
            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                <md-tab ng-disabled="false">
                    <md-tab-label class="add-button">
                        <md-button class="md-icon-button" ng-click="$ctrl.addCache()"><i class="material-icons">add</i></md-button>
                    </md-tab-label>
                </md-tab>
                <md-tab ng-repeat="tab in $ctrl.caches" label="{{tab.title}}">
                    <div class="tab{{$index%4}}" style="padding: 25px; text-align: center;">
                        <md-content layout="column" layout-padding>
                            <md-input-container>
                                <label>Cache Size</label>
                                <md-select ng-model="tab.cacheSize" placeholder="Select a Size">
                                    <md-option ng-repeat="size in cacheSizes" value="{{size}}">
                                        {{size}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container>
                                <label>Associativity</label>
                                <md-select ng-model="tab.Associativity" placeholder="Select an Associativity">
                                    <md-option ng-repeat="associativity in associativities" value="{{associativity}}">
                                        {{associativity}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-content>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>

        <md-content layout="row" layout-align="space-around center">
            <md-subheader class="md-no-sticky">{{$ctrl.fileName}}</md-subheader>
            <md-button class="md-primary md-raised" ng-disabled="$ctrl.fileName.length != 0" type="submit" style="margin-right: 0;">Upload</md-button>
        </md-content>
        <md-list>
            <md-subheader class="md-no-sticky">Memory Access Queue</md-subheader>
            <md-list-item ng-repeat="item in $ctrl.memQueue | limitTo:10">
                <p>{{item.address}}</p>
                <md-menu class="md-secondary">
                    <md-button class="md-icon-button">
                        <i class="material-icons">message</i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            {{item.offset}}
                        </md-menu-item>
                        <md-menu-item>
                            {{item.index}}
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            {{item.tag}}
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-list>
        <div layout="row" layout-align="space-around center">
            <md-button class="md-icon-button"><i class="material-icons">skip_previous</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">pause</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">play_arrow</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">skip_next</i></md-button>
            <md-button class="md-icon-button"><i class="material-icons">replay</i></md-button>

        </div>
        <div layout="row" layout-align="center">
            <div layout layout-align="center center">
                <span class="md-body-1">Speed</span>
            </div>
            <md-slider flex class="md-primary" md-discrete ng-model="$ctrl.speedRating" step="1" min="1" max="5" aria-label="rating">
            </md-slider>
        </div>
    </div>
</div>
